a {
  text-decoration: none;
}

main a {
  color: #ffffff;
}

html, body {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url(media/background.png);
  background-size: 100%;
  font-family: 'Share Tech Mono';
  font-size: 1.2rem;
  list-style: none;
}

main {
  top: 100px;
}

ul, li {
  list-style: none;
  text-align: justify;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
}

#pagina-atual {
  color:#ffffff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-style: solid;
}