#footer {
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 100%;
  height: 60px;
  bottom: 0;
  border-top: 5px solid #000000;
}

#footer .site-info {
  font-size: 15px;
  display: inline-block;
}

footer a {
  color: #ffffff;
}
