.socialmedias {
  position: fixed;
  color: #ffffff;
  left: 0;
  top: 50%;
}

.socialmedias a {
  align-items: center;
  justify-content: center;
}

.socialmedias .icon-bar {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.socialmedias .icon-bar a {
  display: flex;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.socialmedias .icon-bar a:hover {
  background: linear-gradient(120deg, #1c718a 0%, #330d8f 100%);
  width: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.socialmedias .linkedin {
  background: #0077B5;
}

.socialmedias .github {
  background: #6879D9;
}

.socialmedias .instagram {
  background: #e1306c;
}

.socialmedias .youtube {
  background: #bb0000;
}

.socialmedias .whatsapp {
  background: #34ad23;
}